.social-icons {
   position: fixed;
   bottom: 0;
   left: 0;
   height: 150px;
   width: 50px;
   display: flex;
   flex-direction: column;
}

.icon {
   width: 50px;
   height: 50px;

   & svg {
      width: 30px;
      height: 30px;
      padding: 10px;
      & path {
         fill: lighten($black, 70%);
         transition: fill 300ms ease;
      }
   }

   &:hover path {
      fill: $black;
   }
}
