.drawer {
   position: fixed;
   top: 50%;
   right: 0;
   transform: translateY(-50%) translateX(100%);
   z-index: 10;

   &-item {
      display: flex;
      justify-content: flex-end;
      padding: 20px;
      opacity: 0;
      text-decoration: none;
      @include staggered-transition;

      &_title {
         font-family: 'Montserrat', sans-serif;
         color: lighten($black, 25%);
         font-size: 50px;
         font-weight: 300;
         text-transform: uppercase;
         letter-spacing: 2px;
         mix-blend-mode: darken;
      }
   }

   &.active .drawer-item {
      transform: translateX(calc(-100% - 30px));
      opacity: 1;

      &:hover {
         padding: 20px 50px 20px 20px;
      }
   }
}
