#home {
   height: 100vh;
}

.home {
   &-tekst {
      grid-column: 3 / 6;
      grid-row: 1;
      font-size: 35px;
      font-weight: 300;
      height: max-content;
      margin-top: 30vh;

      & p {
         width: 100%;
      }

      &-name {
         font-weight: 500;
         color: $accent;
      }
   }

   &-button {
      grid-column: 5 / 6;
      grid-row: 1;
      margin-top: 50vh;
      height: 40px;
      display: flex;
      justify-content: center;
   }
}
