#home {
   min-height: 100vh;
   grid-template-rows: 50px auto 50px;
}

.home {
   &-container {
      grid-column: 2 / 7;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: $l) {
         grid-column: 2 / 5;
      }

      @media screen and (max-width: $m) {
         grid-column: 2 / 4;
      }

      @media screen and (max-width: $s) {
         grid-column: 2;
      }
   }

   &-intro {
      font-size: 35px;
      font-weight: 300;
      padding-bottom: 1rem;
      text-align: center;

      & p {
         width: 100%;
         margin: 0;
      }

      &-name {
         font-weight: 500;
         color: $accent;
      }

      @media screen and (max-width: $s) {
         padding: 0 10px;
         font-size: 30px;
      }
   }

   &-button {
      justify-self: center;
      padding-top: 1rem;
   }
}
