#home {
   height: 100vh;
   grid-template-rows: 50px repeat(2, 1fr) 50px;
}

.home {
   &-intro {
      grid-column: 3 / 6;
      grid-row: 2;
      font-size: 35px;
      font-weight: 300;
      align-self: end;
      text-align: center;
      padding-bottom: 1rem;

      & p {
         width: 100%;
         margin: 0;
      }

      &-name {
         font-weight: 500;
         color: $accent;
      }
   }

   &-button {
      grid-column: 4;
      grid-row: 3;
      justify-self: center;
      padding-top: 1rem;
   }
}
