#portfolio {
   min-height: 100vh;
   grid-template-rows: 50px auto 50px;

   @media screen and (max-width: $m) {
      &.grid {
         grid-template-rows: 50px repeat(5, auto) 50px;
      }
   }
}

.project {
   display: flex;
   flex-direction: column;
   align-items: center;
   align-self: center;

   @include project-columns;

   &-title {
      & h3 {
         margin: 0;
         font-size: 30px;
         font-weight: 300;
      }
   }

   &-buttons {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 10px 0;
   }

   &-image {
      & img {
         object-fit: cover;
         width: calc(100% - 1px);
         max-height: 100%;
         box-sizing: border-box;
         border-top: 1px solid $highlight;
         border-bottom: 1px solid $highlight;
      }
   }

   &-text {
      align-self: center;

      & p {
         margin: 0;
      }
   }

   &-technologies {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
   }

   @media screen and (max-width: $m) {
      padding-top: 50px;

      &:nth-child(1),
      &:nth-child(2) {
         padding: 0;
      }
   }

   @media screen and (max-width: $s) {
      &:nth-child(2) {
         padding-top: 50px;
      }
   }
}

.tech-icon {
   width: 50%;
   display: flex;
   justify-content: center;

   & svg {
      height: 40px;
      width: 40px;
      padding: 20px 0;
   }

   & svg path {
      fill: lighten($black, 70%);
   }
}

.button {
   &-website {
      height: 18px;
      width: 18px;
      padding: 11px;
   }

   &-code {
      height: 20px;
      width: 20px;
      padding: 12px 10px 8px 10px;
   }

   &-website path,
   &-code path {
      fill: lighten($black, 70%);
      transition: fill 300ms ease;
   }

   &-website:hover path,
   &-code:hover path {
      fill: $accent;
   }
}
