// Utilities
@import './sass/mixins';
@import './sass/fonts';
@import './sass/variables';
@import './sass/globals';

// Components
@import './sass/components/navbar';
@import './sass/components/drawer';
@import './sass/components/gridLines';
@import './sass/components/home';
@import './sass/components/over';
@import './sass/components/scrollIndicator';

:root {
   font-size: 16px;
   scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
   background: transparent;
}

::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-thumb {
   background: $black;
}

body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   background: $background;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: 'Montserrat', sans-serif;
}
